body, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-decoration: inherit;
}

body {
  font-family: 'Palatino Linotype';
  background: beige;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #aaa;
  font-weight: 900;
  margin: 25px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  padding: 5px;
  border: 5px dashed #aaa;
}

li {
  float: left;
  display: block;
  list-style: none;
  background: #aaa;
  margin: 2px;
  width: 96px;
  height: 96px;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

.filled {
  background: transparent;
  font-size: 75px;
  text-align: center;
}

.x {
  color: red;
}

.o {
  color: blue;
}

.winner {
  border: 5px solid green;
}
